body{

    background-image: linear-gradient(to right,#b3826af0,#6f5762);
}






#text{
	color:white;
	text-align: center;

    color: black; font-family: 'Trocchi', serif; font-size: 15px; font-weight: normal;
    padding: 0px;
    color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px black, 1px 1px 5px black;
	/*transform: scale(1.2);*/

}
#wel{
	margin-top: 0px;
}
#hh{
	margin-bottom: 2px;
}


form{
	width: 100%;
	padding: 50px 0;
    margin-bottom: 5px;


}

#dog-breeds {
    padding: 10px;
    font-size: 1.4rem;
    width: 30%;
    min-width: 200px;
    border-radius: 20px;
    background-color: #c3a0a040;
}
button {
    
    font-family: monospace;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 5px;
    background-color: inherit;
    color: white;

}

#flex {
   display: flex;
    margin-top: 0px;
    height: 400px;
    justify-content: center;

}
#breed-image {
    width: 40%;
    min-width: 200px;
    /*margin: auto;*/
      
    /*overflow: hidden;*/

}


#breed-image img {
    max-height: 400px;
    max-width: 400px;
    min-height: 200px;
     /*border:1px solid black;*/
     border-radius: 5px;
     margin-left: 18%;
    box-shadow: -5px -5px 30px 5px #2d210a, 5px 5px 30px 5px #902727;
}

#next{
    margin: 3rem;
    margin-top: 300px;
}

#next a {
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
    border: 1px solid lightgrey;
    padding: 10px 20px;
    border-radius: 8px;
}

#next a:hover {
    box-shadow: 0px 0px 10px black;
    text-shadow: 0px 0px 5px black;
}


button:hover {
    box-shadow: 0px 0px 10px black;
    text-shadow: 0px 0px 5px black;
}

@media screen and (max-width:1100px){
    
    #next{
        transform: scale(0.5);
    }
}

